.header-formula14 {
    font-weight: bold;
    text-align: center;
}

.campos-formula14 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

img {
    margin: 10px 0 0 0;
    float: left;
    width: 60px;
    height: 60px;
}

table {
    margin: 0 auto;
    border-top: 3px;
    border-bottom: 3px;
    border-left: 3px;
    border-right: 3px;
}

th {
    border-top: 3px;
    border-bottom: 3px;
    border-left: 3px;
    border-right: 3px;
}

.blank {
    width: 90px;
}



