h3, h4 {
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-size:100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.encabezado{
  margin: 1rem;
  padding: 1rem;
  margin-bottom:0;
  text-align: center;
}

.cuerpo{
    overflow:auto;
}

.datos1{
	font-size:90%;
	float:left;
}

.datos2{
	font-size:90%;
	float:right;
}

img{
	 margin: 10px 0px 0px 00px;
	 float:left;
	 width:50px;
	 height:50px;
}

div{
	margin: 0;
	padding: 0;
}

table{
	margin: 0 auto;
	text-align: left;
}

th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tablaPrincipal{
	border-collapse: collapse;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size:80%;
	padding: 0px;
}

td{
	
	border-collapse: collapse;
	border: 1px solid #000;
}

.tdInterno{
	border-collapse: collapse;
	text-align: center;
	font-family: "Roboto", sans-serif;
	width:60px;
	border-bottom:0px;
	border-left:0px;
}

.tdInternoB{
	border-collapse: collapse;
	text-align: center;
	font-family: "Roboto", sans-serif;
	width:60px;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
}

.tdInternoC{
	border-top:0px;
	border-left:0px;
	border-right:0px;
}

u{
	text-align: center;
}



