#container {
    align-items: center;
}

#tablemenu-options {
    height: auto;
    width: auto;
    border: 0;
    margin: auto;
}

#bf1, #bf2, #bf3, #bf4 {
    height: auto;
    width: auto;
    margin: auto;
    align-items: center;
    align-self: center;
}

#background-image {
    background-size: cover;
    background-repeat: no-repeat;
}

#buttons-menu {
    position: absolute;
    right: 500px;
}

#piedad {
    width: 100px;
}

#titulo-imagen-piedad {
    font-family: "Impact", "Charcoal", sans-serif;
    color: #445caf;
    position: absolute;
    left: 100px;
    padding-top: -20000px;
    margin-top: -5%;
    margin-left: 1%;
}

#video-piedad{
    margin-top: 10%;
    margin-left: 32%;
}