img{
	 float:right;
	 width:250px;
	 height:250px;
	 padding-right: 70px;
}

h1 {
  padding-top: 40px;
  padding-left: 100px;
  font-size: 300%;
  font-style: italic;
  color:#045FB4;
}

h2 {
  padding-left: 100px;
  font-style: italic;
  color:#045FB4;
}

h3{
  padding-left: 100px;
  font-style: italic;
  color:#045FB4;
}

h4{
  text-align: center;
}

.panel-body{
 text-align: center;
}