<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asistencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/Asistencia.css">
</head>
<body>
<img src="../static/resources/mep.png">
<div class="table-responsive">
    <table class="table" id="table-headers">
        <tr>
            <th class="campos-formula14-h">Estudiante</th>
            <th class="campos-formula14-h">Periodo</th>
            <th class="campos-formula14-h">Año</th>
            <th class="campos-formula14-h">Tardias</th>
            <th class="campos-formula14-h">Motivadas</th>
            <th class="campos-formula14-h">Inmotivadas</th>
        </tr>
        <tr>
            <th class="campos-formula14-h"></th>
            <th class="campos-formula14-h"></th>
            <th class="campos-formula14-h"></th>
            <th class="campos-formula14-h"></th>
            <th class="campos-formula14-h"></th>
            <th class="campos-formula14-h"></th>
        </tr>
    </table>
</div>
</body>
</html>