<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asistencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Consultas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Asistencia.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>Asignación de ausencias y tardías</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4" for="ciclo">Ciclo:</label>
            <div class="col-sm-4">
                <select class="form-control" id="ciclo" onchange="modificarNivel()">
                    <option></option>
                    <option>Primer</option>
                    <option>Segundo</option>
                    <option>Tercer</option>
                    <option>Cuarto</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nivel">Nivel:</label>
            <div class="col-sm-4">
                <select class="form-control" id="nivel" onchange="modificarSeccion()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="seccion">Sección:</label>
            <div class="col-sm-4">
                <select class="form-control" id="seccion" onchange="modificarEstudiante()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="estudiante">Estudiante:</label>
            <div class="col-sm-4">
                <select class="form-control" id="estudiante" onchange="modificarAnos()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="ano">Año:</label>
            <div class="col-sm-4">
                <select class="form-control" id="ano">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="periodo">Período:</label>
            <div class="col-sm-4">
                <select class="form-control" id="periodo">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
                <div class="form-group">
            <label class="control-label col-sm-4" for="Tardias">Tardias:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Tardias" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="Motivadas">Motivadas:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Motivadas" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="Inmotivadas">Inmotivadas:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Inmotivadas" required>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button id="btnEnvio" type="button" class="btn btn-default" onclick="agregueAsistencia()">Enviar</button>
            </div>
        </div>
    </form>
</div>



