<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NuevoAlumno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Consultas.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/CSS/Consultas.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>Consulta de informes</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <div id="result">
                    <div class="alert alert-warning" role="alert" id="errorCiclo" hidden="True">
                        <strong>¡Advertencia!</strong> Seleccione un ciclo para continuar.
                    </div>
                    <div class="alert alert-warning" role="alert" id="errorNivel" hidden="True">
                        <strong>¡Advertencia!</strong> Seleccione un nivel para continuar.
                    </div>
                    <div class="alert alert-warning" role="alert" id="errorSeccion" hidden="True">
                        <strong>¡Advertencia!</strong> Seleccione una sección para continuar.
                    </div>
                    <div class="alert alert-warning" role="alert" id="errorEstudiante" hidden="True">
                        <strong>¡Advertencia!</strong> Seleccione un estudiante para continuar.
                    </div>
                    <div class="alert alert-warning" role="alert" id="errorAno" hidden="True">
                        <strong>¡Advertencia!</strong> Seleccione un año para continuar.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4" for="ciclo">Ciclo:</label>
            <div class="col-sm-4">
                <select class="form-control" id="ciclo" onchange="modificarNivel()">
                    <option></option>
                    <option>Primer</option>
                    <option>Segundo</option>
                    <option>Tercer</option>
                    <option>Cuarto</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nivel">Nivel:</label>
            <div class="col-sm-4">
                <select class="form-control" id="nivel" onchange="modificarSeccion()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="seccion">Seccion:</label>
            <div class="col-sm-4">
                <select class="form-control" id="seccion" onchange="modificarEstudiante()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="estudiante">Estudiante:</label>
            <div class="col-sm-4">
                <select class="form-control" id="estudiante" onchange="modificarAnos()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="ano">Año:</label>
            <div class="col-sm-4">
                <select class="form-control" id="ano">
                    <option></option>
                </select>
            </div>
        </div>
    </form>
    <div class="row" id="botonesInforme">
        <div class="col-md-6">
            <div class="text-center">
                <button type="button" class="btn btn-default btn-block" onclick="cargarInformeHogar()">Informe Hogar
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-default btn-block" onclick="cargarFormula14()">Fórmula 14</button>
        </div>
    </div>
</div>
<div class="container">
    <div id="informe"></div>
    <div class="row" id="botonImprimir" hidden="True">
        <div class="text-center">
            <button type="button" class="btn btn-default" onclick="imprimirInforme()">Imprimir</button>
        </div>
    </div>
</div>
</body>
</html>