<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fórmula 14</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/Formula14.css">
</head>
<body>
<img src="../static/resources/mep.png">
<div class="container">
    <div class="header-formula14" id="datos-cabecera-formulario">
        <h3 class="header-formula14">MINISTERIO DE EDUCACIÓN PÚBLICA</h3>
        <h3 class="header-formula14">DIRECCIÓN DE GESTIÓN y EVALUACIÓN DE LA CALIDAD</h3>
        <h4 class="header-formula14">INFORME DE CALIFICACIONES</h4>
        <h4 class="header-formula14">EDUCACIÓN GENERAL BÁSICA I Y II CICLOS</h4>
        <h4 class="header-formula14">CURSO LECTIVO 2017</h4>

        <table class="table">
            <tr>
                <th>DIRECCIÓN REGIONAL: ______________________</th>
                <th>CIRCUITO ESCOLAR: _______________________</th>
            </tr>
            <tr>
                <th>CENTRO EDUCATIVO: ________________________</th>
                <th>CANTÓN: _________________________________</th>
            </tr>
            <tr>
                <th>CÓDIGO DE CENTRO EDUCATIVO: _____________</th>
                <th>PROVINCIA: _______________________________</th>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table" id="table-headers">
            <thead>
            <tr>
                <th class="campos-formula14">N° Orden</th>
                <th class="campos-formula14">APELLIDOS Y NOMBRES DEL ESTUDIANTE</th>
                <th class="campos-formula14">IDENTIFICACIÓN</th>
                <th class="campos-formula14">SEXO</th>
                <th class="campos-formula14">Estudios Sociales</th>
                <th class="campos-formula14">Educación Científica</th>
                <th class="campos-formula14">Español</th>
                <th class="campos-formula14">Matemática</th>
                <th class="campos-formula14">Inglés</th>
                <th class="campos-formula14">Educación Física</th>
                <th class="campos-formula14">Educación Musical</th>
                <th class="campos-formula14">Educación Religiosa</th>
                <th class="campos-formula14 blank"></th>
                <th class="campos-formula14 blank"></th>
                <th class="campos-formula14 blank" ></th>
                <th class="campos-formula14">Informática</th>
                <th class="campos-formula14 blank"></th>
                <th class="campos-formula14 blank"></th>
                <th class="campos-formula14">Conducta</th>
                <th class="campos-formula14">APLAZADO</th>
                <th class="campos-formula14">APROBADO</th>
                <th class="campos-formula14">REPROBADO</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>