<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NuevoAlumno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/Formula14.css">
</head>
<body>
<img src="../static/resources/mep.png">
<div class="container">
    <div class="encabezado" id="datos-cabecera-formulario">
        <h3>República de Costa Rica</h3>
        <h3>Ministerio de Educación Pública</h3>
        <h4>Informe al Hogar I y II ciclos de la Educación General Básica</h4>
        <h4>Curso Lectivo 20177</h4>
        <table>
            <tr>
                <th id="idciclo" WIDTH="45">Ciclo:</th>
                <th WIDTH="100"><u>_</u><u id="ciclo">___</u></th>
                <th WIDTH="45">Nivel:</th>
                <th WIDTH="180"><u>___</u><u id="nivel">___</u></th>
                <th WIDTH="45">Sección:</th>
                <th WIDTH="100"><u>_</u><u id="seccion">___</u></th>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="3">Dirección Regional de</th>
                <th><u>______________</u></th>
            </tr>
            <tr>
                <th colspan="3">Centro Educativo:</th>
                <th WIDTH="290"><u>__________________________</u></th>
                <th>Código Presup:</th>
                <th><u>_________</u></th>
            </tr>
            <tr>
                <th colspan="3">Estudiante:</th>
                <th><u>_</u><u id="estudiante">_______________</u></th>
                <th>Identificación:</th>
                <th><u>__</u><u id="identificacion">_________</u></th>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table" id="table-headers">
            <thead>
            <tr>
                <th class="headers-formula14">N° Orden</th>
                <th class="headers-formula14">APELLIDOS Y NOMBRES DEL ESTUDIANTE</th>
                <th class="headers-formula14">IDENTIFICACIÓN</th>
                <th class="headers-formula14">SEXO</th>
                <th class="headers-formula14">Estudios Sociales</th>
                <th class="headers-formula14">Educación Científica</th>
                <th class="headers-formula14">Español</th>
                <th class="headers-formula14">Matemática</th>
                <th class="headers-formula14">Inglés</th>
                <th class="headers-formula14">Educación Física</th>
                <th class="headers-formula14">Educación Musical</th>
                <th class="headers-formula14">Educación Religiosa</th>
                <th class="headers-formula14"></th>
                <th class="headers-formula14"></th>
                <th class="headers-formula14"></th>
                <th class="headers-formula14">Informática</th>
                <th class="headers-formula14"></th>
                <th class="headers-formula14"></th>
                <th class="headers-formula14">Conducta</th>
                <th class="headers-formula14">APLAZADO</th>
                <th class="headers-formula14">APROBADO</th>
                <th class="headers-formula14">REPROBADO</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>