<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Opciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/CSS/MenuOpciones.css"/>
	<img src="../static/resources/fundacionpiedad.png">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
<div class="encabezado">
	 <h1>Colegio Cristiano Asambleas de Dios</h1>
	 <h2>Fundación Piedad</h2>
	 <h3>Los Cuadros, Goicoechea</h3>
</div>
<br>
<br>
<br>
<div class="panel panel-info">

  <div class="panel-heading">
    <h4 class="panel-title">Seleccione la opción que desea</h4>
  </div>

  <div class="panel-body">
      <a href="formularioIngreso"> <button class="btn btn-primary" type="button" aria-hidden="true">Ingresar nuevo estudiante</button></a>
      <a href="formularioProfesor"> <button type="button" class="btn btn-info">Ingresar nuevo profesor</button> </a>
      <a href="Consultas"> <button class="btn btn-primary" type="button" aria-hidden="true">Consultar calificaciones</button></a>
      <a href="Notas"> <button type="button" class="btn btn-info">Asignar calificaciones</button> </a>
      <a href="Asistencia"> <button class="btn btn-primary" type="button" aria-hidden="true">Asistencia</button></a>
  </div>

</div>

</body>
</html>