<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
    <link rel="stylesheet" href="../../Frontend/static/CSS/MenuFormularios.css">
</head>
<body>
<div id="container">
    <table id="tablemenu-options">
        <tbody>
        <tr id="tablemenu-row-1">
            <td>
                <button id="bf1">Formulario 1</button>
            </td>
            <td>
                <button id="bf2">Formulario 2</button>
            </td>
        </tr>
        <tr id="tablemenu-row-2">
            <td>
                <button id="bf3">Formulario 3</button>
            </td>
            <td>
                <button id="bf4">Formulario 4</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>