<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
    <link rel="stylesheet" href="../static/CSS/MenuFormularios.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div id="buttons-menu" class="well well-sm">
    <div>
        <a href="NuevoIngreso.html">
            <button class="btn btn-success" type="button" aria-hidden="true">Ingresar nuevo estudiante</button>
        </a>

        <a href="Formula14.html">
            <button class="btn btn-success" type="button">Fórmula 14</button>
        </a>

        <a href="PlantillaInformaHogar.html">
            <button class="btn btn-success" type="button" aria-hidden="true">Informe al hogar</button>
        </a>

        <a href="Consultas.html">
            <button class="btn btn-success" type="button" aria-hidden="true">Consultas</button>
        </a>
    </div>
</div>
<img id="piedad" src="../static/resources/fundacionpiedad.png">
<div>
    <h1 id="titulo-imagen-piedad">Fundacion PIEDAD</h1>
</div>
<div id="video-piedad">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Mj2GgX5UB8w" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>