<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
    <link rel="stylesheet" href="../static/CSS/MenuFormularios.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="well sidebar-nav">
    <a href="NuevoIngreso.html">
        <button class="btn-success" aria-hidden="true">Ingresar nuevo estudiante</button>
    </a>

    <a href="Formula14.html">
        <button class="btn-success">Fórmula 14</button>
    </a>

    <a href="PlantillaInformaHogar.html">
        <button class="btn-success" aria-hidden="true">Informe al hogar</button>
    </a>

    <a href="Consultas.html">
        <button class="btn-success" aria-hidden="true">Consultas</button>
    </a>

</div>
</body>
</html>