<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NuevoAlumno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='NuevoIngreso.js') }}"></script>
</head>
<body>
<div class="text-center">
    <h1>Formulario para nuevo ingreso</h1>
</div>
<div class="container">
    <h3>Datos del estudiante</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4" for="idEstudiante">Identificación:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="idEstudiante" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nombreEstudiante">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombreEstudiante" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="apellido1">Primer apellido:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="apellido1" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="apellido2">Segundo apellido:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="apellido2">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="sexo">Sexo:</label>
            <div class="col-sm-4">
                <select class="form-control" id="sexo">
                    <option>Hombre</option>
                    <option>Mujer</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nacimiento">Fecha de nacimiento:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="nacimiento" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="ciclo">Ciclo:</label>
            <div class="col-sm-4">
                <select class="form-control" id="ciclo">
                    <option>Primer</option>
                    <option>Segundo</option>
                    <option>Tercer</option>
                    <option>Cuarto</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nivel">Nivel:</label>
            <div class="col-sm-4">
                <select class="form-control" id="nivel">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="seccion">Sección:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="seccion" required>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <h3>Datos del encargado</h3>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <label class="control-label col-sm-4" for="idEncargado">Identificación:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="idEncargado" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nombreEncargado">Nombre completo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombreEncargado" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="telefono">Teléfono:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="telefono" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="parentesco">Parentesco:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="parentesco" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="direccion">Dirección:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="direccion" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="correo">Correo:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="correo">
            </div>
        </div>
        <div id="result"></div>
        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-default" onclick="agregarNuevoIngreso()">Enviar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>