<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>InformeHogar</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/InformaHogar.css"/>
	<img src="../static/resources/mep.png">
</head>

<body>
<div>
<div class="encabezado">
	 <h3>República de Costa Rica</h3>
	 <h3>Ministerio de Educación Pública</h3>
	 <h4>Informe al Hogar I y II ciclos de la Educación General Básica</h4>
	 <h4>Curso Lectivo 2017</h4>
</div>

<div class="cuerpo">
	<div class="datos1">
		<table>
		  <tr>
			<th WIDTH="45"></th>
			<th WIDTH="45">Ciclo:</th>
			<th WIDTH="100"><u>&emsp;&emsp;</u><u id="ciclo">Segundo</u><u>&emsp;&emsp;</u></th>
			<th WIDTH="10"></th>
			<th WIDTH="45">Nivel:</th>
			<th WIDTH="80"><u>&emsp;&emsp;&emsp;&emsp;</u><u id="nivel">5</u><u>&emsp;&emsp;&emsp;&emsp;</u></th>	
		  </tr>
		</table> 
		
		<table>
		  <tr>
			<th>Dirección Regional de Educación de </th>
			<th><u>&emsp;SAN JOSÉ NORTE&emsp;</u></th>
		  </tr>
		</table> 
		
		<table>
		  <tr>
			<th colspan="3">Centro Educativo:</th>
			<th><u>&emsp;Colegio Cristiano Asambleas de Dios&emsp;</u></th>
		  </tr>
		  <tr>
			<th colspan="3">Estudiante:</th>
			<th><u>&emsp;</u><u id="estudiante">Nombre del estudiante</u><u>&emsp;</u></th>
		  </tr>
		</table> 
	</div>	
	<div class="datos2">
		<table>
			<tr>
				<th>Sección:</th>
					<th><u>&emsp;</u><u id="seccion">Quinto uno</u><u>&emsp;</u></th>
			</tr>
			<tr>
				<th></th>
					<th>&emsp;</u></th>
			</tr>
	
			<tr>
				<th>Código Presup:</th>
					<th><u>&emsp;&emsp;&nbsp;&nbsp;0000&nbsp;&nbsp;&emsp;&emsp;</u></th>
			</tr>
			<tr>
				<th>Identificación:</th>
					<th><u id="identificacion">&emsp;1-1111-1111&emsp;</u></th>
			</tr>
		</table>
	</div>
</div>	
&nbsp;
<div class="cuerpo">
	<table class="tablaPrincipal" bgcolor="#b3b3b3">
		<td WIDTH="150"><b>Asignaturas</b></td>
		<td>
			<table class="tablaPrincipal">
			   <tr>
					<th  class="tdInternoC" WIDTH="180" colspan="3"><font size="2">Períodos</font></th>
				</tr>
			   <tr>
					<td class="tdInterno" WIDTH="60"><font size="2"><b>I</b></font></td>	
					<td class="tdInterno" WIDTH="60"><font size="2"><b>II</b></font></td>	
					<td class="tdInternoB"WIDTH="60"><font size="2"><b>III</b></font></td>	
			   </tr>
		   </table>
		</td>
		<td WIDTH="80"><b>Resultado Final</b></td>
		<td WIDTH="80"><b>Condición</b></td>
		<td>
			<table class="tablaPrincipal">
			   <tr>
					<td  class="tdInternoC" colspan="4" WIDTH="280"><font size="2"><b>Convocatorias de Aplazados</b></font></td>
				</tr>
			   <tr>
					<td class="tdInterno"><font size="2"><b>I</b></font></td>	
					<td class="tdInterno" WIDTH="80"><font size="2"><b>Condición</b></font></td>	
					<td class="tdInterno"><font size="2"><b>II</b></font></td>	
					<td class="tdInternoB" WIDTH="80"><font size="2"><b>Condición</b></font></td>	
			   </tr>
		   </table>
		</td>
	</table> 
	
	<table class="tablaPrincipal">
	  <tr>
		<td WIDTH="160" align="left">Estudios Sociales</td>
		<td id="p1Soc" WIDTH="55"></td>
		<td id="p2Soc" WIDTH="55"></td>
		<td id="p3Soc" WIDTH="57"></td>
		<td id="finalSoc" WIDTH="88"></td>
		<td id="condSoc" WIDTH="88"></td>
		<td id="conv1Soc" WIDTH="55"></td>
		<td id="conv1Soc_cond" WIDTH="71"></td>
		<td id="conv2Soc"WIDTH="55"></th>
		<td id="conv2Soc_cond" WIDTH="71"></td>
	  </tr>
	   <tr>
		<td align="left">Educación Científica</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Español</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Matemática</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Inglés</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Educación Física</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Educación Musical</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Educación Religiosa</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr HEIGHT="19">
		<td align="left"></td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr >
	  <tr HEIGHT="19">
		<td align="left"></td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr HEIGHT="19">
		<td align="left"></td>
	<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr>
		<td align="left">Informática</td>
	<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr HEIGHT="19">
		<td align="left"></td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr HEIGHT="19">
		<td align="left"></td>
	<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	  <tr HEIGHT="19">
		<td align="left">Conducta</td>
		<td id="p1"></td>
		<td id="p2"></td>
		<td id="p3"></td>
		<td id="final"></td>
		<td id="cond"></td>
		<td id="conv1"></td>
		<td id="conv1_cond"></td>
		<td id="conv2"></th>
		<td id="conv2_cond"></td>
	  </tr>
	</table> 	
  </div>	
</div>
</body>
<br></br>

<footer>
	 <a href='javascript:window.print(); void 0;'>Imprimir Informe</a> 
</footer>

</html>