<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
</head>
<body>
<div id="container">
    <table id="tablareportes">
        <tr>
            <td>
                <div id="reporte1">
                    <button>Prueba1</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="reporte2">
                    <button>Prueba1</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="reporte3">
                    <button>Prueba1</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="reporte4">
                    <button>Prueba1</button>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>