<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
</head>
<body>
<div id="container">
    <table id="tabla_menu_opciones">
        <tbody>
        <tr style="text-align: center;">
            <td style="text-align: center;"><button>Formulario 1</button></td>
            <td style="text-align: center;"><button>Formulario 2</button></td>
        </tr>
        <tr>
            <td style="text-align: center;"><button>Formulario 3</button></td>
            <td style="text-align: center;"><button>Formulario 4</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>