<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InformeHogar</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/InformaHogar.css"/>
	<img src="../static/resources/mep.png">
</head>
<body>

<div class="encabezado">
     <h3>República de Costa Rica</h3>
     <h3>Ministerio de Educación Pública</h3>
     <h4>Informe al Hogar I y II ciclos de la Educación General Básica</h4>
     <h4>Curso Lectivo 2017</h4>
</div>

<div class="datos">
		<table>
		  <tr>
			<th WIDTH="45">Ciclo:</th>
			<th WIDTH="100"><u>_</u><u id="ciclo">Segundo</u><u>_</u></th>
			<th WIDTH="45">Nivel:</th>
			<th WIDTH="180"><u>___</u><u id="nivel">5</u><u>___</u></th>
			<th WIDTH="45">Sección:</th>
			<th WIDTH="100"><u>_</u><u id="seccion">Quinto uno</u><u>_</u></th>
		  </tr>
		  </table> 
		  <table>
		  <tr>
			<th colspan="3">Dirección Regional de </th>
			<th><u>_SAN JOSÉ NORTE__________________</u></th>
		  </tr>
		  <tr>
			<th colspan="3">Centro Educativo:</th>
			<th WIDTH="290"><u>_Colegio Cristiano Asambleas de Dios_</u></th>
			<th>Código Presup:</th>
			<th><u>____0000______</u></th>
		  </tr>
		  <tr>
			<th colspan="3">Estudiante:</th>
			<th><u>_</u><u id="estudiante">Diana Camacho Mendoza</u><u>____________________________</u></th>
			<th>Identificación:</th>
			<th><u>__</u><u id="identificacion">1-1111-1111</u><u>__</u></th>
		  </tr>
		</table> 
		
</div>
		<table class="tablaPrincipal" bgcolor="#b3b3b3">
			<td WIDTH="150">Asignaturas</td>
			<td>
				<table class="tablaPrincipal">
				   <tr>
						<td  class="tdInternoC" WIDTH="180" colspan="3">Períodos</td>
					</tr>
				   <tr>
						<td class="tdInterno">I</td>	
						<td class="tdInterno">II</td>	
						<td class="tdInternoB">III</td>	
				   </tr>
			   </table>
			</td>
			<td WIDTH="80">Resultado Final</td>
			<td WIDTH="80">Condición</td>
			<td>
				<table class="tablaPrincipal">
				   <tr>
						<td  class="tdInternoC" colspan="4" WIDTH="240">Convocatorias de Aplazados</td>
					</tr>
				   <tr>
						<td class="tdInterno">I</td>	
						<td class="tdInterno">Condición</td>	
						<td class="tdInterno">II</td>	
						<td class="tdInternoB">Condición</td>	
				   </tr>
			   </table>
			</td>
		</table> 
		
		<table class="tablaPrincipal">
		  <tr>
			<td WIDTH="150" align="left">Estudios Sociales</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		   <tr>
			<td WIDTH="150" align="left">Educación Científica</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60"></td>
			<td id="periodo3" WIDTH="60"></td>
			<td id="final" WIDTH="80"></td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60"></td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60"></th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Español</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Matemática</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Inglés</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Educación Física</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Educación Musical</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Educación Religiosa</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left"></td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left"></td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left"></td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Informática</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left"></td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left"></td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		  <tr>
			<td WIDTH="150" align="left">Conducta</td>
			<td id="periodo1" WIDTH="60">0</td>
			<td id="periodo2" WIDTH="60">0</td>
			<td id="periodo3" WIDTH="60">0</td>
			<td id="final" WIDTH="80">0</td>
			<td id="condicion" WIDTH="80">En Proceso</td>
			<td id="convo1" WIDTH="60">0</td>
			<td id="convo1_cond" WIDTH="60">En Proceso</td>
			<td id="convo2"WIDTH="60">0</th>
			<td id="convo2_cond" WIDTH="60">En Proceso</td>
		  </tr>
		</table> 
		
<div>

</div>

</body>
</html>