<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InformeHogar</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/InformaHogar.css"/>
	<img src="../static/resources/mep.png">
</head>
<body>

<div class="encabezado">
     <h3>República de Costa Rica</h3>
     <h3>Ministerio de Educación Pública</h3>
     <h4>Informe al Hogar I y II ciclos de la Educación General Básica</h4>
     <h4>Curso Lectivo 2017</h4>
</div>

<div class="datos">
		<table>
		  <tr>
			<th WIDTH="45">Ciclo:</th>
			<th WIDTH="100"><u>_</u><u id="ciclo">Segundo</u><u>_</u></th>
			<th WIDTH="45">Nivel:</th>
			<th WIDTH="180"><u>___</u><u id="nivel">5</u><u>___</u></th>
			<th WIDTH="45">Sección:</th>
			<th WIDTH="100"><u>_</u><u id="seccion">Quinto uno</u><u>_</u></th>
		  </tr>
		  </table> 
		  <table>
		  <tr>
			<th colspan="3">Dirección Regional de </th>
			<th><u>_SAN JOSÉ NORTE__________________</u></th>
		  </tr>
		  <tr>
			<th colspan="3">Centro Educativo:</th>
			<th WIDTH="290"><u>_Colegio Cristiano Asambleas de Dios_</u></th>
			<th>Código Presup:</th>
			<th><u>____0000______</u></th>
		  </tr>
		  <tr>
			<th colspan="3">Estudiante:</th>
			<th><u>_</u><u id="estudiante">Diana Camacho Mendoza</u><u>____________________________</u></th>
			<th>Identificación:</th>
			<th><u>__</u><u id="identificacion">9-0121-0568</u><u>__</u></th>
		  </tr>
		</table> 
</div>

<div>

</div>

</body>
</html>